In [1]:
print("Vansh")

Vansh

In [2]:
#Swapping 2 numbers
a = int(input("enter the number 1: "))
b = int(input("enter the number 2: "))
a,b=b,a
# a=a+b
# b=a-b
# a=a-b
print(a)
print(b)

enter the number 1: 10
enter the number 2: 20
20
10

In [3]:
#Swapping 2 strings
a = input("enter the string 1: ")
b = input("enter the string 2: ")
a,b=b,a
# c = a
# a = b
# b = c
print(a)
print(b)

enter the string 1: abc
enter the string 2: xyz
xyz
abc

In [4]:
a = int(input("enter the number: "))
for i in range (1,11):
    print(a*i)

enter the number: 2
2
4
6
8
10
12
14
16
18
20

In [5]:
#Binary search
def binary_search(arr,low,high,x):
    if(high >= low):
        mid=(high+low)//2
        
        if arr[mid]==x:
            return mid
        elif arr[mid]>x:
            return binary_search(arr,low,mid-1,x)
        else:
            return binary_search(arr,mid+1,high,x)
    else:
        return -1

#arr=[1,2,3,4,5]
#a=int(input("Number of elements in the array: "))
n=list(map(int, input("elements of array: ").split()))

print(n)
x = int(input("enter the number to search: "))

result=binary_search(n,0,len(n)-1,x)
if (result!=-1):
    print("The number "+str(x)+" is found at position "+str(result))
else:
    print("No such element found")

elements of array: 1 2 3 4 5
[1, 2, 3, 4, 5]
enter the number to search: 3
The number 3 is found at position 2

In [6]:
#bubble sort
def bubble_sort(arr):
    n=len(arr)-1
    for i in range(0,n):
        for j in range(0,n):
            if arr[j]>arr[j+1]:
                m=arr[j]
                arr[j]=arr[j+1]
                arr[j+1]=m
    return arr

a=list(map(int, input("elements of array: ").split()))
print(a)
bubble_sort(a)

elements of array: 2 5 369 52 4 5
[2, 5, 369, 52, 4, 5]

[2, 4, 5, 5, 52, 369]

In [7]:
#Selection sort
def selection_sort(arr):
    n=len(arr)
    for i in range(0,n):
        min_num=i
        for j in range(0,n):
            if(arr[j]>arr[min_num]):
                min_num=j
                arr[i],arr[min_num]=arr[min_num],arr[i]
    return arr

a=list(map(int, input("elements of array: ").split()))
print(a)
selection_sort(a)

elements of array: 2 554 654 5 65 56 5
[2, 554, 654, 5, 65, 56, 5]

[2, 5, 5, 56, 65, 554, 654]

In [8]:
import pandas as pd
File=pd.read_csv("~/Desktop/dataaset/covid.csv")

In [9]:
File

    no      pc     wbc      mc     ast      bc     ldh  diagnosis
0    1     Low     Low     Low    High  Normal  Normal       True
1    2     Low     Low  Normal    High  Normal    High       True
2    3     Low    High  Normal    High  Normal  Normal      False
3    4     Low    High  Normal    High    High  Normal       True
4    5     Low  Normal    High    High  Normal  Normal      False
5    6     Low  Normal  Normal    High  Normal    High       True
6    7  Normal     Low     Low    High  Normal  Normal       True
7    8  Normal    High  Normal    High  Normal  Normal      False
8    9  Normal    High  Normal    High    High    High       True
9   10  Normal  Normal    High    High  Normal  Normal      False
10  11  Normal  Normal    High    High  Normal    High       True
11  12    High     Low     Low  Normal  Normal  Normal       True
12  13    High  Normal    High  Normal  Normal  Normal      False
13  14    High  Normal    High  Normal    High    High       True
14  15    High    High  Normal  Normal  Normal    High       True
15  16     Low  Normal    High    High    High  Normal      False
16  17  Normal  Normal    High    High    High  Normal      False
17  18    High     Low     Low  Normal  Normal    High       True
18  19  Normal  Normal  Normal    High  Normal  Normal      False
19  20  Normal    High  Normal    High  Normal    High       True
20  21  Normal     Low  Normal    High  Normal    High       True
21  22     Low    High  Normal    High    High    High       True
22  23     Low     Low     Low    High    High    High       True
23  24    High    High  Normal  Normal  Normal  Normal       True
24  25    High  Normal  Normal  Normal  Normal  Normal      False